// You can add CSS rules here that will be inlucded in Hydejack's CSS file
pre {width:100%;margin-left:0;margin-right:0;font-size:14px;line-height:25px;}
.post-title {font-size:24px;line-height:38px;}
article h2 {font-size:20px;line-height:38px;background-color:#EDF7F8;padding:3px 10px;}
article h3 {font-size:18px;line-height:35px;border-left:4px solid #4fb1ba;line-height:25px;padding-left:10px;}
article p, article ul, article ol, article li {font-size:15px;line-height:32px;}
article img {width:100%;margin:15px;}
header .message {font-size:14px;margin-left:0;}
#_main > ul > li > a{border-color:#fff;}
header > h1 > a{border-color:#fff !important;}
#_main > ul > li > time {padding-left: 10px;}
#_sidebar > div.sidebar-sticky > nav > ul > li > a{border:none;}
#_sidebar > div.sidebar-sticky > div.sidebar-about > h2 > a{border:none;}