// You can add CSS rules here that will be inlucded in Hydejack's CSS file
pre {width:100%;margin-left:0;margin-right:0;}
.post-title {font-size:24px;line-height:38px;}
article h2 {font-size:20px;line-height:38px;background-color:#4fb1ba;padding:3px 10px;}
article h3 {font-size:18px;line-height:35px;border-left:3px solid #4fb1ba;}
article p, article ul, article ol, article li {font-size:15px;line-height:32px;}
article img {width:100%;}
header .message {font-size:14px;margin-left:0;}
#_main > ul > li > a {border-color:#fff;}
#_main > ul > li > time {padding-left: 10px;}