// You can add CSS rules here that will be inlucded in Hydejack's CSS file
pre {width:100%;}
.post-title {font-size:24px;line-height:38px;}
article h2 {font-size:20px;line-height:38px;}
article h3 {font-size:18px;line-height:35px;}
article p, article ul, article ol, article li {font-size:15px;line-height:32px;}

header > h1 > a {border-color: #fff;}